﻿@model Turner.TitleSearch.Models.TitleModel
@using Resources = Turner.TitleSearch.TitleSearchResource;
@{
    ViewBag.Title = Resources.ScreenTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <link href="@Url.Content("~/Scripts/jtable/themes/standard/green/jtable_green.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Title/Search.js")" type="text/javascript"></script>
}

<div>
    <!-- Header Starts -->
    <div>
        <h3>@Resources.SearchTitle</h3>
        <p>
            Find by Name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" id="BtnTitleSearch" />
            <input type="submit" value="Clear" id="BtnClearSearch" />
        </p>
        <div id="ui-jtable-loading"></div>
    </div>
    <!--Header ends -->

   @* <div class="clear">
    </div>*@
    <div>
        <div id="TitlesTable">
        </div>
        <div id="TitleSelectList">
        </div>

    </div>
</div>
